In [1]:
import pandas as pd

df = pd.read_csv("melb_data.csv")

In [2]:
df.dropna(axis=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
12206,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
12207,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
12209,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
12212,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

In [10]:
x = df[["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]]

In [11]:
x

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
0          2       1.0     202.0  -37.79960   144.99840
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
3          3       2.0      94.0  -37.79690   144.99690
4          4       1.0     120.0  -37.80720   144.99410
...      ...       ...       ...        ...         ...
13575      4       2.0     652.0  -37.90562   145.16761
13576      3       2.0     333.0  -37.85927   144.87904
13577      3       2.0     436.0  -37.85274   144.88738
13578      4       1.0     866.0  -37.85908   144.89299
13579      4       1.0     362.0  -37.81188   144.88449

[13580 rows x 5 columns]

In [12]:
y = df[["Price"]]
y

           Price
0      1480000.0
1      1035000.0
2      1465000.0
3       850000.0
4      1600000.0
...          ...
13575  1245000.0
13576  1031000.0
13577  1170000.0
13578  2500000.0
13579  1285000.0

[13580 rows x 1 columns]

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [22]:
x_train , x_validate , y_train , y_validate = train_test_split(x,y) #Creo la data para ajustar el modelo y para validarlo. 

#Variables (Data) CREADAS.

In [37]:
def ObtenerErrorValidate(max_leaf_nodes, x_train, x_validate, y_train, y_validate):
    
    modelo = DecisionTreeRegressor(max_leaf_nodes= max_leaf_nodes, random_state=0) #Creo el arbol, con un máx de divisiones y el random state para obtener siempre los mismos nros (doy repetitibilidad)
    modelo.fit(x_train,y_train) #Ajuste del modelo con la Train Data.
    predicciones = modelo.predict(x_validate)
    MAE = mean_absolute_error(y_validate , predicciones)
    return MAE

def ObtenerErrorTrain(max_leaf_nodes, x_train, y_train):
    
    modelo = DecisionTreeRegressor(max_leaf_nodes= max_leaf_nodes, random_state=0) #Creo el arbol, con un máx de divisiones y el random state para obtener siempre los mismos nros (doy repetitibilidad)
    modelo.fit(x_train,y_train) #Ajuste del modelo con la Train Data.
    predicciones = modelo.predict(x_train)
    MAE = mean_absolute_error(y_train , predicciones)
    return MAE

In [44]:
ObtenerErrorValidate(10000, x_train, x_validate, y_train, y_validate)

238405.3443298969

In [43]:
ObtenerErrorTrain(10000,x_train,y_train)

845.0826378661429

In [48]:
for max_leaf_nodes in [5, 100, 1000, 10000, 15000, 20000]:
   
    ErrorValidate = ObtenerErrorValidate(max_leaf_nodes, x_train, x_validate, y_train, y_validate)
    ErrorTrain = ObtenerErrorTrain(max_leaf_nodes, x_train, y_train)
    
    print("Nodos máximos aceptados: %d \t MAE in ValidateData: %d \t MAE in TrainingData: %d" %(max_leaf_nodes, ErrorValidate, ErrorTrain))

Nodos máximos aceptados: 5 	 MAE in ValidateData: 349114 	 MAE in TrainingData: 358025
Nodos máximos aceptados: 100 	 MAE in ValidateData: 236375 	 MAE in TrainingData: 217775
Nodos máximos aceptados: 1000 	 MAE in ValidateData: 221141 	 MAE in TrainingData: 113685
Nodos máximos aceptados: 10000 	 MAE in ValidateData: 238405 	 MAE in TrainingData: 845
Nodos máximos aceptados: 15000 	 MAE in ValidateData: 238405 	 MAE in TrainingData: 845
Nodos máximos aceptados: 20000 	 MAE in ValidateData: 238405 	 MAE in TrainingData: 845

In [ ]:
#Podemos ver como el MAE para la ValidateData BAJA Y SUBE (Tiene un minimo)
#Podemos ver como el MAE para la TrainingData siempre es decreciente. 

#Una vez que tenemos el tamaño optimo de divisiones, realizamos un arbol de decision final, le ponemos la cantidad de 
#divisiones optima que calculamos Y LO AJUSTAMOS CON TODOS TODOS LOS DATOS. Para usarlo así con la New Data.

#O sea:

#modelo = DecisionTreeRegressor(max_leaf_nodes= tamaño optimo q calculamos) 
#modelo.fit(x,y) #Ajuste del modelo con TODOS LOS DATOS.

#Este será nuestro MODELO FINAL que utilizaremos para predecir valores futuros de Y, con Datos futuros de X (new data)